/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('') no-repeat right;
    background: #FFF url('') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}


* {
    margin: 0;
    padding: 0;
}

body, input {
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Microsoft yahei, Song, Arial, Helvetica, Tahoma, Geneva;
}

h1 {
    margin-bottom: 15px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    //color: #fff;
    //background: #0051a1;
}

#content #post, #comment p {
    zoom: 1;
}

#content #post:after, #comment p:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: '.';
}

.transition {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#content {
   // margin: 0 auto;
   // width: 70%;
    overflow: hidden;
}

#content #post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #d4d4d4 dashed;
}

#content #post textarea {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    height: 20%;
    border: 1px #d1d1d1 solid;
    border-radius: 5px;
    resize: none;
    outline: none;
    margin:0 auto;
}

#content #post textarea:hover {
    border: 1px #9bdf70 solid;
    background: #f0fbeb;
}

#content #post #postBt, #content #post #clearBt {
    margin-left: 5px;
    padding: 3px;
    float: right;
}

#comment {
    overflow: hidden;
}

#comment p {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#comment p:nth-child(odd) {
   // border: 1px solid #e3e197;
    border: 1px solid #DBDBDB;
  //  background: #ffd;
    background: ivory;
}

#comment p:nth-child(even) {
   // border: 1px solid #adcd3c;
    border: 1px solid #DBDBDB;
   // background: #f2fddb;
    background: #F3F3F3;
}

#comment p span {
    display: inline;
    float: left;

}

#comment p .msg {
  //  width: 738px;
}

#comment p .datetime {

    color: #83671f;
    right:10px;
    bottom:10px;


}
#comment p .cname{
   // width: 100px;
    color: #f30d60;
    overflow: auto;
    margin-right:1em;


}
.bgImgGirl{
    background-image:url("../images/beautifulgirl.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-top:10px;


}
#TradingIndexs{
    font-size: 2em;
    color: #f30d60;
    height:200px;
    width:200px;
    margin-bottom:100px;
}