<html>  
    <head>  
        <title>  
            this's parents page  
        </title>  
        <script type="text/javascript">  
            function createNewWindow(){  
                var args=new Array("girl","house","car");  
                var url="children.html?args1="+args[0]+"&args2="+args[1]+"&args3="+args[2];  
                var iHeight=300;  
                var iWidth=1000;  
                var iTop=(window.screen.availHeight-30-iHeight)/2;  
                var iLeft=(window.screen.availWidth-10-iWidth)/2;  
                window.open(url,"childrenWindow","height="+iHeight+",width="+iWidth+",top="+iTop+",left="+iLeft+",toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no");   
            }  
        </script>  
    </head>  
    <body>  
        <input type="button" value="clicktest" onclick="createNewWindow()">  
    </body>  
</html>  